<div>Главная страница</div>

<!--<div class="table">-->
<!--  <div class="table_headers">-->
<!--    <div class="table_header">Id</div>-->
<!--    <div class="table_header">Наименование</div>-->
<!--    <div class="table_header">Максимальное давление</div>-->
<!--    <div class="table_header">Температура жидкости</div>-->
<!--    <div class="table_header">Вес</div>-->
<!--    <div class="table_header">Мотор</div>-->
<!--    <div class="table_header">Материал корпуса</div>-->
<!--    <div class="table_header">Материал рабочего колеса</div>-->
<!--    <div class="table_header">Описание насоса</div>-->
<!--    <div class="table_header">Цена</div>-->
<!--  </div>-->
<!--  <div class="pumps">-->
<!--    @if ( pumps.length === 0 ) {-->
<!--      <div class="loader"></div>-->
<!--    } @for (pump of pumps; track pump.id) {-->
<!--    <div class="table_row">-->
<!--      <span>{{ pump.id}}</span>-->
<!--      <span>{{ pump.name }}</span>-->
<!--      <span>{{ pump.maxpressure }}</span>-->
<!--      <span>{{ pump.liquidtemperature }}</span>-->
<!--      <span>{{ pump.weight }}</span>-->
<!--      <span>{{ pump.motorid}}</span>-->
<!--      <span>{{ pump.framematerialid }}</span>-->
<!--      <span>{{ pump.wheelmaterialid }}</span>-->
<!--      <span>{{ pump.description }}</span>-->
<!--      <span>{{ pump.price }}</span>-->
<!--    </div>-->
<!--  }-->
<!--  </div>-->
<!--</div>-->
